server {
    listen 127.0.0.1:8080;

    root ./inventory/one;

    client_max_body_size 5242880; # 5 MB

    # error_page 404 /error_pages/404.html;

    server_name localhost;

    location / {
        methods GET;
        index index.html;
    }

    location /images {
        methods GET;
        root ./inventory/one/images;
        index index.html;
    }

    location /uploads {
        methods GET POST DELETE;
        root ./inventory/one/uploads;
        index index.html;
        upload_enable on;
        upload_path ./inventory/one/uploads;
    }

    location /files {
        methods GET POST;
        root ./inventory/one/data;
        index index.html;
        cgi_extension .py;
        cgi_extension .php;
        cgi_path /usr/bin/python3;
        cgi_path /usr/bin/php;
    }
}