http {
    server {
        listen 0.0.0.0:3490;

        root ./servers/server1;

        location / {
            root ./servers/server1;
            index index.html;
            allow GET DELETE;
        }

        location /cgi {
            root ./servers/server1/cgi;
        }

        location /uploads {
            root ./servers/server1/uploads;
            autoindex on;
        }

        location /data {
            root ./servers/server1/uploads/data;
        }
    }

    server {
        listen 0.0.0.0:8080;
        
        root ./servers/server2;

        location / {
            root ./servers/server2;
        }

        location /data {
            root ./servers/server2/data;
        }

        location /uploads {
            root ./servers/server3/uploads;
        }
    }

    server {
        listen 127.0.0.1:3490 default_server;

        location / {
            root ./servers/server3;
        }

        location /data {
            root ./servers/server3;
            index file.html;
            autoindex off;

        }

        location /uploads {
            root /servers/server3/uploads;
        }
    }
}