http {
    num_req_expected 100;
    root /home;
    server {
        listen 0.0.0.0:3490;

        root ./servers/server1;
        index html;
        location / {
            root ./servers/server1;
            index index.html;
            allow GET DELETE;
        }

        location /cgi {
            root ./servers/server1;
        }

        location /uploads {
            root ./servers/server1;
            autoindex on;
        }

        location /data {
            root ./servers/server1;
        }
    }

    server {
        listen 0.0.0.0:8080;
        
        root ./servers/server2;

        location / {
            root ./servers/server2;
        }

        location /data {
            root ./servers/server2;
        }

        location /uploads {
            root ./servers/server2;
        }
    }

    server {
        listen 127.0.0.1:3490 default_server;

        location / {
            root ./servers/server3;
        }

        location /data {
            root ./servers/server3;
            index file.html;
            autoindex off;

        }

        location /uploads {
            root /servers/server3/;
        }
    }
}