http {
    server {
        listen 0.0.0.0:3490;
        server_name example.com;
        root ./www/example.com;

        location / {
            index index.html;
            allow GET POST;
        }

        location /get {
            index get_page.html;
            allow GET;
        }

        location /post {
            index post_page.html;
            allow GET;
        }

        location /delete {
            index delete_page.html;
            allow GET;
        }

        location /cgi {
            autoindex on;
        }

        location /uploads {
            return 302 /get/;
            autoindex on;
            allow POST GET DELETE;
        }

        location /data {
            autoindex on;
        }
    }

    server {
        listen 0.0.0.0:8080;
        root ./www/8080-website;

        location / {
            index index.html;
            allow GET POST;
        }

        location /get {
            index get_page.html;
        }

        location /post {
            index post_page.html;
        }

        location /delete {
            index delete_page.html;
        }

        location /data {
            index file1.html;
        }

        location /uploads/data {
            index index1.html;
        }
    }

    server {
        listen 0.0.0.0:3490;
        listen 0.0.0.0:8080;
        server_name webserv42.com;
        root ./www/webserv42.com;
        client_max_body_size 2000;

        location / {
            index index.html;
            allow GET POST;
        }

        location /get {
            index get_page.html;
        }

        location /post {
            index post_page.html;
        }

        location /delete {
            index delete_page.html;
        }

        location /data {
            index .html;
            autoindex on;
        }

        location /uploads {
            allow GET DELETE;
            error_page 302 /error.html;
            error_page 404 /delete/delete_page.html;
        }
    }

}